<h2>Check out this sweet post</h2>

<br>
<br>
<h4>User</h4>
<p> <%= @post.user %></p>
<h4>Status</h4>
<p> <%= @post.status %></p>
<h4>Likes</h4>
<p> <%= @post.likes %></p>
<br>
<%= link_to "Home", posts_path %>
